<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mywork.repository.mapper.UserMapper">
    <select id="selectById" resultType="com.example.mywork.model.UserDTO">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <select id="selectByLoginId" resultType="com.example.mywork.model.UserDTO">
        SELECT * FROM user WHERE user_login_id = #{userLoginId}
    </select>

    <select id="isUserExists" resultType="Integer">
        SELECT EXISTS(SELECT * FROM user WHERE user_id = #{userId})
    </select>

    <select id="isUserExistsByName" resultType="Integer">
        SELECT EXISTS(SELECT * FROM user WHERE user_login_id = #{username})
    </select>

    <select id="selectByLoginIdForSecurity" resultType="com.example.mywork.config.security.custom.CustomUserDetails">
        SELECT user_id as userId, user_login_id as userLoginId, user_login_password as userPassword FROM user WHERE user_login_id = #{userLoginId}
    </select>

    <insert id="insertUser" >
        INSERT INTO user (team_type, user_login_id, user_login_password) values (#{teamType},#{username},#{password});
    </insert>
</mapper>